<form class="add-form">
	<div class="form-control">
		<label for="text">Task</label>
		<input type="text" [(ngModel)]="text" name="text" id="text" placeholder="Add Task">
	</div>
	<div class="form-control">
		<label for="day">Day & Time</label>
		<input type="text" [(ngModel)]="day" name="day" id="day" placeholder="Enter Date and Time">
	</div>
	<div class="form-control">
		<label for="reminder">Reminder</label>
		<input type="checkbox" [(ngModel)]="reminder" name="reminder" id="reminder">
	</div>
	<input type="submit" value="Save Task" class="btn btn-block">
</form>